<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Z3AxiomProfiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Z3AxiomProfiler.Properties.Settings>
            <setting name="PreludeBplFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeBplFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BoogieOptions" serializeAs="String">
                <value>/bv:z /trace</value>
            </setting>
            <setting name="Z3Options" serializeAs="String">
                <value>/rs:0</value>
            </setting>
            <setting name="FunctionName" serializeAs="String">
                <value />
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Z3InputFile" serializeAs="String">
                <value />
            </setting>
        </Z3AxiomProfiler.Properties.Settings>
    </userSettings>
</configuration>