# enforce unix style line endings
*.md text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.svg text eol=lf
*.css text eol=lf
*.html text eol=lf
*.cs text eol=lf
*.sh text eol=lf
*.fs text eol=lf
*.fsi text eol=lf
*.fsl text eol=lf
*.c text eol=lf
*.h text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.pl text eol=lf

# do not enforce text for everything - it causes issues with random binary files

*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
